*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #121214;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #c4c4cc;
}

.wrapper{
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns:256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}